[submodule "kayak_foil_io"]
	path = kayak_foil_io
	url = https://gitlab.ensta-bretagne.fr/stic_ressources/kayak_foil_io.git
[submodule "ros2_ws/src/nmea_msgs"]
	path = ros2_ws/src/nmea_msgs
	url = https://github.com/ros-drivers/nmea_msgs.git
[submodule "ros2_ws/src/rtcm_msgs"]
	path = ros2_ws/src/rtcm_msgs
	url = https://github.com/tilk/rtcm_msgs.git
